body{
  margin;
  margin-top:0em;
  font-family: 'Enriqueta', arial, serif
  ;/*! line-height: 1.25; */
  }

.yeslogin {
  position:;
  margin-top:4em;
}
.section {
  border-width:0px;
  border-color:#79584a;
  border-style:solid;
  border-bottom-width:1px;
 
}

.section ul {
  border-width:0px;
  border-color: #5394a7;
  border-style:solid;
  border-bottom-width:0px;
  padding-bottom:0.1em;
  padding-top:0.2em;
}
.propose {
    padding-top:1em;
padding:0.5em;
  margin:0.2em;
  /*! background: #ccc; */
  border-radius: 4px;
 
    text-shadow: 0 1px rgba(255,255,255,0.7);
    font-size:100%;
  border:4px solid brown;
}

.radiochecks ul {
  border-bottom-width:0px
  }

.radiochecks ul li {
  display : inline-flex;
   margin-right:1.5em;
   border-bottom-width:0px!important;
}

h3 {
  font-weight:normal;
  font-size:150%;
}

.unrolled{
  padding:0.5em;
  margin:0.2em;
  background: #c5cea8;
  border-radius: 4px;
 
    text-shadow: 0 1px rgba(255,255,255,0.7);
    font-size:100%;
    /*! border:1px solid #ee88ee; */
      /*! outline: 1px solid #ffbbff; */
  
}
.rolled{
 padding:0.5em;
  margin:0.2em;
  background: #c5cea8;
  height:3em;
  border-radius: 4px;
 
    text-shadow: 0 1px rgba(255,255,255,0.7);
    font-size:100%;
 
  
}
.rolled .slot {
  margin:0.4em;
  font-size:120%
}
.rolling {
  padding:0em;
  float:right;
  margin:0em;
  /*! background:white; */
  opacity:0.7;
  border-radius:10em;
}
.rolling .combo-container {
  height:1em;
}
.rolling .fa-arrow-down {
  font-size:1.5em;
  color: black;
}
.rolling .fa-arrow-up {
  font-size:1.5em;
    color:black;
}

.record ul li {
  border-bottom:1px solid;
  margin-top:0.5em;
}
button  {
   
  padding:0.5em;
  margin:0.3em;
  background: #c5cea8;

  border-radius: 4px;
 
    text-shadow: 0 1px rgba(255,255,255,0.7);
    font-size:100%;
    cursor:pointer;
    border-style:none;
}
div.region {
    background:yellow
    }

div.button.logger {
    color:red
  }

ul {list-style-type: none;padding-left:0.1em;}

div.small {
    font-size:80%;
    background:lightgrey;
    margin:2em
  }

.invalidInput input{
  background:#f9f7f7
  }

.validInput input{
  background:#bfb
  }

input {height:2em;
  display: block;
  width:95%;
  margin-left:2.5%;
  color:black;
  border: 1px solid rgba(255,255,255,0.6)!important;
  height:2.5em;   
  font-size:100%;
  padding: 0px;
  color: #555;
  border-radius: 4px;
  }
.login {
  background-color: white;
  /*! padding:0px; */
  /*! margin:-2px; */
}
.fakelogin {
  z-index:1;
    #background:#ddf;
    #border: 1px solid #cca1a1;
    border-radius:4px;
    #outline: 2px solid #d2c8c8;
  
    padding:0.5em;
    position:absolute;
    margin:0.1em;
    top:0em;
    right:0em;
    display:inline-flex;
  }
  
.summary {display:inline,float:right;}
.select {display:inline;
  float:right;}


.select-day {
  display:inline-grid;
}

.select-time {
  display:inline-grid;
}
.select-time li {
  float:left;
}
.picked-date {display:inline;margin-right:1em;}
span.role {color:grey;font-size:70%;
cursor:pointer;
}
span.name {
  cursor:pointer ;
margin-left:0.2em;
}
div.login-button {

  border-bottom:1px solid grey;
  padding:0.7em;
  /*! margin:0.1em; */


  border-radius: 0px;
 
    text-shadow: 0 1px rgba(255,255,255,0.7);
    font-size:100%;
    cursor:pointer;
}
.opponent {
  display:inline;
  margin-left:1em;
    color:black;

}
.other {
  display:inline;
  margin-left:1em;
    color:black;

}
.timeshow {
  display:inline-table;  
  /*! margin-top:0.5em; */
    /*! margin-bottom:0.5em; */
    margin-left:1em;
  color:black;
}
.placeshow {
  display:inline-table;
    /*! margin-top:0.5em; */
      /*! margin-bottom:0.5em; */
  color:black;

   margin-left:1em;
}
.bargainshow {
  
  margin-left:1em;
  margin-top:0.5em;
  display:inline-table;
    color:black;

}
.field {
  color:#444;
  font-size:70%;
  display:inline;
  }
.section .propose ul li{
  border-width:0px;
  border-bottom-width:1px;
  border-style:solid;
  border-color:#ab9393
}
.fa-paper-plane-o {
  color:blue;
}
.fa-close {
  color:black;
}
.chat-input .combo-buttons {
  background-color: transparent;
  border:0;
  outline:0;
}


.select-day  ul  li {
  float:left;
  border-bottom-width:0px;
}

i {
  display:block;
}

.propose .fa-plus-circle {
    color:#ad6f2e;
    }
 
 .propose .fa-close {
   color:#5a2020;
   
  
 }
 .propose .fa-check {
   color:green;
 }
div .hints {
  color:#000000;
  font-size:70%;
  position:relative;
  top:-1.1em;
  background:rgb(234, 185, 233);
  padding:0.1em;
  display:inline-grid;
  border-radius:4px;
  border:1px solid black;
  }
.propose .fa-calendar {
  color:#7a8652
}
.propose .fa-calendar-times-o {
  color:#7a8652
}
.picked-date {
  font-size:150%;
}
.abort ul{border-width:0px;}

.info {
      /*! border: 1px solid #ff3b3b; */
    border-radius:4px;
  
  position:fixed;
  top:0.1em;
  background:#f5eff4;
  opacity:0.9;
  padding: 0.3em;
  border-radius:15em;
}



.login i {
  color:green;
}
.logout i {
  color:#ad0d0d;
 
}

.splash {
  margin:0.2em;
  margin-top:2em;
 
  font-style:italic;
  font-size:330%;
  }
.logged {
  display:inline;
}
.logout {display:inline;}

.compose {display:inline-flex;
}

.compose-x {display:inline;}

.compose-plus{
    display:inline;

    color:grey;
    position:relative;
    top:1em;
    
    
    }
.compose-plus i {
  font-size:1em;
}
.compose-y {display:inline;margin-left:0em;

}
.radiochecks li {
border-radius:4px ;
margin:0px;

}
.radiochecks-icon {
  margin:0em;
 

}
.place-selected {
  background-color: #f88;
}
.fa-check {color:green;}
.fa-home {
  color:black;
}
.fa-3x {
  font-size: 2.3em;
}
.explanation {
  font-size:60%;
}
.combo-buttons {
  display:inline-flex;
      #background:whitesmoke;
     #border: 1px solid #cca1a1;
    border-radius:4px;
    #outline: 2px solid #d2c8c8;
    clear:both;
    padding:0.5em;
 
  float:right;
  position:relative;
  top:0.1em;
  right:0.1em;
  }

.combo-containerHints{
  height:5.6em;
}
.combo-container{
  height:3.5em;
}
.icon-box{
  padding:0em;
  display:inline;
}
.icon-box:nth-child(2){
  margin-left:2em;
}
.icon {display:block;
    padding-bottom:0.1em;

}

.propose > .combo-container > .combo-buttons {
  float:inherit;
  /*! bottom:1em; */
  left:0em;
}
.propose > .combo-containerHints > .combo-buttons {
  float:inherit;
  bottom:1em;
  left:1em;
}
.footer {
  border-top:1px solid rgb(85,85,85);
  border-bottom:1px solid rgb(85,85,85);
  background-color:aliceblue;
  height:3em;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  padding-top:0.1em;
 
}
.footer-fields{
}
.code-link a {
  #text-decoration: none;
  font-size:80%;
  color:rgb(85,85,85);
  position:absolute;
  left:0em;
  top:1.1em;
}
.code-api a {
  #text-decoration: none;
  font-size:80%;
  color:rgb(85,85,85);
  position:absolute;
  left:0em;
  top:2.0em;
}
.copyright {
  text-decoration: none;
  font-size:80%;
  color:rgb(85,85,85);
  position:absolute;
  left:0em;
}
.chats {
  margin:1em;
}
.message {
  margin-left:1em;
}
.chats ul li {
  border-color:white;
}
.Abortable {
   background-color: white; 
   color:red;
    border:4px solid red;

}
.Acceptable {
  background-color: white; 
  color:green;
  border:4px solid green;
}

.WaitingColor {
  background-color: white; 
  color:blue;
  border:4px solid blue;
}

.question  {
  font-style:oblique;
  color:black;
  
}