body{
  margin;
  margin-top:0em;
  font-family: 'Enriqueta', arial, serif
  ;line-height: 1.25;
  }

.yeslogin {
  position:;
  margin-top:4em;
}
.section {
  border-width:0px;
  border-color:#79584a;
  border-style:solid;
  border-bottom-width:1px;
 
}

.section ul {
  border-width:0px;
  border-color: #5394a7;
  border-style:solid;
  border-bottom-width:0px;
  padding-bottom:0.1em;
  padding-top:0.2em;
}
.propose {
    padding-top:1em;

}

.radiochecks ul {
  border-bottom-width:0px
  }

.radiochecks ul li {
  display : inline-flex;
   margin-right:1.5em;
   border-bottom-width:0px!important;
}

h3 {
  font-weight:normal;
  font-size:150%;
}

button  {
   
  padding:0.5em;
  margin:0.3em;
  background: #c5cea8;

  border-radius: 4px;
 
    text-shadow: 0 1px rgba(255,255,255,0.7);
    font-size:100%;
    cursor:pointer;
    border-style:none;
}
div.region {
    background:yellow
    }

div.button.logger {
    color:red
  }

ul {list-style-type: none;padding-left:0.1em;}

div.small {
    font-size:80%;
    background:lightgrey;
    margin:2em
  }

.invalidInput input{
  background:#f9f7f7
  }

.validInput input{
  background:#bfb
  }

input {height:2em;
  display: block;
  width:100%;
  color:black;
  border: 1px solid rgba(255,255,255,0.6)!important;
  height:2.5em;   
  font-size:100%;
  padding: 0px;
  color: #555;
  border-radius: 4px;
  }

.fakelogin {
  z-index:1;
    background:whitesmoke;
    border: 1px solid #cca1a1;
    border-radius:4px;
    outline: 2px solid #d2c8c8;
  
    padding:0.5em;
    position:absolute;
    margin:0.1em;
    top:0em;
    right:0em;
    display:inline-flex;
  }
  
.summary {display:inline,float:right;}
.select {display:inline;
  float:right;}


.select-day {
  display:inline-grid;
}

.select-time {
  display:inline-grid;
}
.select-time li {
  float:left;
}
.picked-date {display:inline;margin-right:1em;}
span.role {color:grey;font-size:70%;
cursor:pointer;
}
span.name {
  cursor:pointer ;
margin-left:0.2em;
}
div.login-button {

 
  padding:0.5em;
  margin:0.1em;


  border-radius: 4px;
 
    text-shadow: 0 1px rgba(255,255,255,0.7);
    font-size:100%;
    cursor:pointer;
}
.field {color:grey;font-size:70%;}
.section .propose ul li{
  border-width:0px;
  border-bottom-width:1px;
  border-style:solid;
  border-color:#ab9393
}



.select-day  ul  li {
  float:left;
  border-bottom-width:0px;
}

i {
  display:block;
}

.propose .fa-plus-circle {
    color:#ad6f2e;
    }
 
 .propose .fa-close {
   color:#5a2020;
   
  
 }
 .propose .fa-check {
   color:green;
 }
div .hints {
  color:#000000;
  font-size:70%;
  position:relative;
  top:-1.1em;
  background:rgb(234, 185, 233);
  padding:0.1em;
  display:inline-grid;
  border-radius:4px;
  border:1px solid black;
  }
.propose .fa-calendar {
  color:#7a8652
}
.propose .fa-calendar-times-o {
  color:#7a8652
}
.picked-date {
  font-size:150%;
}
.abort ul{border-width:0px;}

.info {
      border: 1px solid #ff3b3b;
    border-radius:4px;
  
  position:fixed;
  top:0.1em;
  background:#e8b1e7;
  opacity:0.9;
  padding: 0.3em;
  border-radius:15em;
}
.abort ul li {
  border-width:0px;
  border-bottom-width:1px;
  border-style:solid;
}
.finals ul{border-width:0px;}

.finals ul li {
  border-width:0px;
  border-bottom-width:1px;
  border-style:solid;
}
.summary ul {border-bottom-width:0px;}
.summary ul li {border-bottom-width:0;}

.login i {
  color:green;
}
.logout i {
  color:#ad0d0d;
 
}

.splash {
  margin:0.2em;
  margin-top:2em;
 
  font-style:italic;
  font-size:330%;
  }
.logged {
  display:inline;
}
.logout {display:inline;}

.compose {display:inline-flex;
}

.compose-x {display:inline;}

.compose-plus {
    display:inline;

    color:grey;
    position:relative;
    top:1em;
    
    }

.compose-y {display:inline;margin-left:0em;

}
.radiochecks li {
border-radius:4px ;
margin:0px;

}
.radiochecks-icon {
  margin:0em;
 

}
.fa-check {color:green;}

.combo-buttons {
  display:inline-flex;
      background:whitesmoke;
     border: 1px solid #cca1a1;
    border-radius:4px;
    outline: 2px solid #d2c8c8;
    clear:both;
    padding:0.5em;
 
  float:right;
  position:relative;
  top:0.1em;
  right:0.1em;
  }

.combo-containerHints{
  height:5.6em;
}
.combo-container{
  height:4.4em;
}
.icon-box{
  padding:0em;
  display:inline;
  
}
.icon-box:nth-child(2){
  margin-left:2em;
}
.icon {display:block;}

.propose > .combo-container > .combo-buttons {
  float:inherit;
  bottom:1em;
  left:1em;
}
.propose > .combo-containerHints > .combo-buttons {
  float:inherit;
  bottom:1em;
  left:1em;
}