body{margin:0.1;margin-top:2em;
font-family: 'Enriqueta', arial, serif;line-height: 1.25;}
.radiochecksText {
  #display: inline;
  #position:relative;
  padding-top:0.5em;
}

.section {
  border-width:0px;
  border-color:#79584a;
  border-style:solid;
  border-bottom-width:4px;
}
.propose {
    padding-top:1em;

}
.section ul {
  border-width:0px;
  border-color: #5394a7;
  border-style:solid;
  border-bottom-width:2px;
  padding-bottom:0.1em;
  padding-top:0.2em;
}
.radiochecks input {display:inline; 
background-color:white;
width:1.5em;
}

.radiochecks ul li {
  display : inline-flex;
   margin-right:0.5em;
   border-bottom-width:0px!important;
}

.radiochecks ul {border-bottom-width:0px}

h3 {
  font-weight:normal;
  font-size:150%;
}


div.region {
    background:yellow
    }
  div.button.logger {
    color:red
  }
  ul {list-style-type: none;padding-left:0.1em;}
  div.small {
    font-size:80%;
    background:lightgrey;
    margin:2em
  }
.invalidInput input{
  background:#fbb
  
}
.validInput input{
  background:#bfb
  
}
input {height:2em;
  display: block;
  width:20em;
  color:black;
  border: 1px solid rgba(255,255,255,0.6)!important;
        font-size:100%;
        padding: 5px;color: #555;border-radius: 4px;}
button  {
   
  padding:0.5em;
  margin:0.3em;
  background: #c5cea8;

  border-radius: 4px;
 
    text-shadow: 0 1px rgba(255,255,255,0.7);
    font-size:100%;
    cursor:pointer;
    border-style:none;
}

.fakelogin {float:right;
  #border:3px inset red;
  padding:2px;
  #background-color:#ebf3eb;
  position:absolute;  border-radius:4px;
  margin:0.1em;
  top:0;
  right:0;
  }
.summary {display:inline,float:right;}
.select {display:inline;
  float:right;}
  

.select-time {
  display:inline-grid;
}
.select-time li {
  float:left;
}
.picked-date {display:inline;margin-right:1em;}
span.role {color:grey;font-size:70%;
cursor:pointer;
}
span.name {
  cursor:pointer ;
margin-left:0.2em;
}
div.login-button {

 
  padding:0.5em;
  margin:0.1em;
  background: #c5cea8;

  border-radius: 4px;
 
    text-shadow: 0 1px rgba(255,255,255,0.7);
    font-size:100%;
    cursor:pointer;
}
.field {color:grey;font-size:70%;}
.section .propose ul li{
  border-width:0px;
  border-bottom-width:1px;
  border-style:solid;
  border-color:#ab9393
}
i {
  margin:0.3em;
  display:inline;
}

.propose .fa-plus-circle {
    color:#ad6f2e;
    }
 
 .propose .fa-close {
   color:#5a2020;
   
  
 }
 .propose .fa-check {
   color:green;
 }
div .hints {
  color:#463333;
  font-size:70%;
  display;
  margin-top:-1.5em;
  text-align:center;
  padding:0.2em;
  padding-bottom:0.5em;padding-top:0.3em;
  opacity:0.9;
  border-radius:4px;
  background:rgba(144, 238, 144, 0);
}
.propose .fa-calendar {
  color:#7a8652
}
.propose .fa-calendar-times-o {
  color:#7a8652
}
.picked-date {
  font-size:150%;
}
.abort ul{border-width:0px;}
.info {
  position:fixed;
  top:0;
  background:#e8b1e7;
  opacity:0.9;
  padding:0em;
  border-radius:15em;
}
.abort ul li {
  border-width:0px;
  border-bottom-width:1px;
  border-style:solid;
}
.finals ul{border-width:0px;}

.finals ul li {
  border-width:0px;
  border-bottom-width:1px;
  border-style:solid;
}
.summary ul {border-bottom-width:0px;}
.summary ul li {border-bottom-width:0;}

.login i {
  color:green;
}
.logout i {
  color:#ad0d0d;
 
}

.splash {
  margin:0.2em;
  margin-top:2em;
 
  font-style:italic;
  font-size:330%;
  }
.logged {
  display:inline;
}
.logout {display:inline;}

.compose {display:inline-flex;
}

.compose-x {display:inline;}

.compose-plus {display:inline;margin-left:-1em}

.compose-y {display:inline;margin-left:-1em;

}
.radiochecks li {
border-radius:10em ;
margin:0px;
border:10px solid grey;
}
.radiochecks-icon {
  margin:-0.3em;
 

}